/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #ff7900;
  --error: #e7195a;
}

body {
  background: #F1F1F1;
  margin: 0;
  font-family: "Poppins";
  overflow: hidden;


}



.home {
  display: flex;
}




header a {
  color: #fff;
  text-decoration: none;
}








/* ============================================ */
/*            || Chat.js                        */
/* ============================================ */
.chat-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;



  
}


/* ============================================ */
/*            || ChatMessage.js                 */
/* ============================================ */

.chat-message {
  display: inline-block;
  margin-bottom: 10px;
  word-wrap: break-word;
 

}

.message-content {
  background-color: #e5e5ea; /* Message bubble color */
  padding: 10px 15px;
  border-radius: 20px; /* Adjust for more rounded corners */
  float: left;

}

/* Right-aligned message */
.chat-message.future-me .message-content {
  background-color: var(--primary); /* Your color choice */
  color: #fff; /* Text color */
}




/* ============================================  */
/*            || ChatMessageList.js              */
/* ============================================  */

.chat-message-list {

  display: flex;
  flex-direction: column; /* Display messages vertically */
  overflow: hidden;
  overflow-y: scroll;


  max-height: 650px;
  width: 100%;


}


/* ============================================  */
/*            || ChatMessageInput.js             */
/* ============================================  */

.chat-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-input-container {
 
  display: flex;
  align-items: center;

  justify-content: center;
  padding-bottom: 35px;
  width: 50rem;
  background-color: #f1f1f1;
 
  /*overflow: scroll; */
}

.message-input {
  flex-grow: 1;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
  background-color: #f9f9f9;
  color: #333;
  

 
}

.send-button {
  padding: 12px 25px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}









